.input{
  border: 0;
  background-color: transparent;
  outline: none;
  font-size: 18px;
  width: 300px;
  color: #217ea0;
}
.icon{
  color: #217ea0;
}
.input::placeholder{
  color: #7cc8e4;
}

.search{
  display: flex;
  align-items: center;
}