.card{
  background-color: #fff;
  border-radius: 5px;
  width: 500px;
  margin: 20px auto;

}
.linkBlock{
  text-align: center;
}
.link{
  display: inline-block;
  color: #217ea0;
  border-bottom: 1px solid #217ea0;;
}
.img{
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.block{
  display: flex;
  justify-content: space-around;
}
.descrItem{
  text-align: center;
  width: 50%;
  padding: 10px;
}
.descrItemFirst{
  text-align: center;
  width: 50%;
  padding: 10px;
  border-right: 1px solid #c4ecfa;
}

.descr{
  color: #217ea0;
}
.title{
  font-size: 25px;
  text-align: center;
  
}
.descrProperty{
  padding: 15px;
  border-top: 1px solid #c4ecfa;
  display: flex;
  justify-content: space-between;
}
.region{
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #c4ecfa;

}

@media screen and (max-width: 600px) {
  .card{
    width: 100%;
  }
  .descrProperty{
    font-size: 14px;
  }
  .count{
    font-size: 19px;
  }
}