@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');
.globe{
  width: 70px;
  margin: 0 10px;
}
.title{
  line-height: 1.1;
  font-size: 21px;
  font-family: 'Holtwood One SC', serif;
}
.container{
  padding: 0 5%;
}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;

}